* {
  margin: 0;
  padding: 0;
}

/* ant design styles */

.ant-form {
  background: white;
  padding: 35px 60px 0px 45px !important;
  border-radius: 10px;
}

.ant-modal {
  width: fit-content !important;
}
