.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-form {
  position: relative !important;
  transition: 0.3s !important;
}
.login-err {
  color: red;
  position: absolute;
  bottom: -3px;
  left: calc(50% - 80px);
  animation: err 0.5s ease;
}

@keyframes err {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
