.activation-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(220, 222, 252);
  flex-direction: column;
}
.activation-page h3 {
  color: black;
  font-weight: 700;
  font-size: 2rem;
}
.activation-page p {
  color: black;
  font-size: 1.5rem;
}
