.table-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-color: rgb(220, 222, 252);
  flex-direction: column;
  padding: 90px 20px 0 20px;
}
.table-page table {
  color: black;
  background-color: white;
}
.table-page table thead tr td {
  position: relative;
}
.table-page table thead tr td span {
  position: absolute;
  top: 5px;
  right: 5px;
}
.table-page_table {
  width: 100%;
  overflow-x: scroll;
}
.table-page table tr {
  border: 1px solid black;
}
.table-page table td {
  border: 1px solid black;
  padding: 5px;
  min-width: 120px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}
.table-importers tbody tr {
  display: flex;
  border: none;
  flex-direction: column;
}
.table-importers tbody tr td {
  border: none;
}

.table-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  padding: 0 !important;
}
.table-form div {
  /* min-width: 200px; */
  max-width: 250px;
}
.required-form {
  font-weight: 600;
}
.required-form label {
  color: blue;
}
.table-legend {
  display: flex;
  position: absolute;
  font-weight: 600;
}
.table-legend div {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: black 2px solid;
  background: blue;
}
.table-store_modal {
  min-width: 800px;
}
.declaration-modal {
  width: 80% !important;
}
.declaration-modal form {
  display: flex;
  width: 100%;
  padding: 0 !important;
}
.declaration-modal button:nth-child(2) {
  margin-bottom: 3rem;
}
.declaration-modal table {
  width: 100%;
  margin-bottom: 2rem;
}
.declaration-modal td {
  border: 1px black solid;
  padding: 5px;
}
.docs-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
}
.docs-modal div {
  display: flex;
  justify-content: center;
}
