.table-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-color: rgb(40, 40, 114);
  flex-direction: column;
  padding: 90px 20px 0 20px;
}
.table-page table {
  color: white;
}
.table-page_table {
  width: 100%;
  overflow-x: scroll;
}
.table-page table tr {
  border: 1px solid white;
}
.table-page table td {
  border: 1px solid white;
  padding: 5px;
  min-width: 120px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}
.table-importers tbody tr {
  display: flex;
  flex-direction: column;
  border: none;
}
.table-importers tbody tr td {
  border: none;
}

.table-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  padding: 0 !important;
}
.table-form div {
  min-width: 200px;
  max-width: 250px;
}

.required-form {
  font-weight: 600;
}
.required-form label {
  color: blue;
}
.table-legend {
  display: flex;
  position: absolute;
  font-weight: 600;
}
.table-legend div {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: black 2px solid;
  background: blue;
}
.table-store_modal {
  min-width: 500px;
}
