.table-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(40, 40, 114);
  flex-direction: column;
  padding: 0 20px;
}
.table-page table {
  color: white;
}
.table-page_table {
  width: 100%;
  overflow-x: scroll;
}
.table-page table tr {
  border: 1px solid white;
}
.table-page table td {
  border: 1px solid white;
  padding: 5px;
  min-width: 120px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}
.table-importers tbody tr {
  display: flex;
  flex-direction: column;
  border: none;
}
.table-importers tbody tr td {
  border: none;
}
